body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Century Gothic", Futura, sans-serif;
  background-color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
